.c-session-message{
    margin-top: 1.5em;
    display: none;
    .c-alert{
        margin: 0 auto;
        padding: .5em 1.5em;
        background: $grey;
        border-radius: .5em;
        width: 80%;
        box-sizing: border-box;
        text-align: center;
        @include mq() {
            width: 100%;
        }
    }
}
