@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* レスポンシブ
   ----------------------------------------------------------------- */

/* フォント
   ----------------------------------------------------------------- */

/* カラー
   ----------------------------------------------------------------- */

/* 背景
   ----------------------------------------------------------------- */

body {
  background: #f5f5f5;
}

/* フォント
   ----------------------------------------------------------------- */

html {
  font-size: 62.5%;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 1.6em;
  font-weight: normal;
  font-family: "Hiragino Kaku Gothic Pro", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", sans-serif;
  line-height: 1.4;
  letter-spacing: 0.05em;
  color: #333;
}

/* 個別スタイル
   ----------------------------------------------------------------- */

a {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.l-header {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  background: #15274D;
}

.l-header a {
  color: #FFFFFF;
}

.p-header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.p-header__logo {
  font-size: 2rem;
}

.p-nav {
  display: flex;
  justify-content: center;
}

.p-nav__item:not(:last-child) {
  margin-right: 2rem;
}

.l-main {
  display: flex;
}

.l-main .l-main-menu {
  width: 15%;
}

.l-main .l-main-content {
  flex: 1;
  padding: 3rem 0 0 3rem;
  background: #FFFFFF;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .l-main .l-main-content {
    width: 100%;
  }
}

.c-button,
.c-button--green,
.c-button--red,
.c-button--blue {
  padding: 0.5rem 1.5rem;
  background: #EEEEEE;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

.c-button--blue {
  background: #2185d0;
  color: #FFFFFF;
}

.c-button--red {
  background: #e9606d;
  color: #FFFFFF;
}

.c-button--green {
  background: #249f80;
  color: #FFFFFF;
}

.c-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6);
}

.c-spinner-overlay .c-spinner-cover {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-spinner-overlay .c-spinner-cover .c-spinner {
  width: 80px;
  height: 80px;
  border: 4px #ddd solid;
  border-top: 4px #999 solid;
  border-radius: 50%;
  -webkit-animation: sp-anime 0.8s infinite linear;
          animation: sp-anime 0.8s infinite linear;
}

@-webkit-keyframes sp-anime {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes sp-anime {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.c-modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.c-modal .c-modal__bg {
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.c-modal .c-modal__content {
  background: #fff;
  left: 50%;
  padding: 30px;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  min-width: 40%;
}

@media screen and (max-width: 768px) {
  .c-modal .c-modal__content {
    min-width: 80%;
  }
}

.c-session-message {
  margin-top: 1.5em;
  display: none;
}

.c-session-message .c-alert {
  margin: 0 auto;
  padding: 0.5em 1.5em;
  background: #EEEEEE;
  border-radius: 0.5em;
  width: 80%;
  box-sizing: border-box;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .c-session-message .c-alert {
    width: 100%;
  }
}

.c-horizon {
  margin: 1.5rem 0 1.5rem 0;
  border-top: 1px solid #EEEEEE;
}

.c-alert {
  color: #e9606d;
}

.p-work-division-header {
  margin-bottom: 15px;
}

.p-work-division-menu__item {
  display: inline-block;
  margin-bottom: 1.5em;
}

/** リスト一覧 */

.p-work-division-list .p-work-division-list__table {
  width: 90%;
  border-collapse: collapse;
  font-size: 1.2rem;
}

.p-work-division-list .p-work-division-list__table th,
.p-work-division-list td {
  padding: 5px 15px;
  border: 1px solid #dcdcdc;
}

.p-work-division-list .p-work-division-list__table th {
  background: #2185d0;
  color: white;
}

.p-work-division-list .p-work-division-list__table th:nth-child(n+2) {
  cursor: pointer;
  position: relative;
}

.p-work-division-list .p-work-division-list__table th::before,
.p-work-division-list .p-work-division-list__table th::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border: 5px solid transparent;
  right: 10px;
  top: 50%;
}

.p-work-division-list .p-work-division-list__table th::before {
  border-bottom-color: white;
  margin-top: -10px;
}

.p-work-division-list .p-work-division-list__table th::after {
  border-top-color: white;
  margin-top: 2px;
}

/** モーダル */

.p-work-division-modal .p-work-division-modal__title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.p-work-division-modal .p-work-division-input-group {
  margin-bottom: 1rem;
}

.p-work-division-modal .p-work-division-input-group .p-work-division-input-group__label {
  font-size: 1.3rem;
}

.p-work-division-modal .p-work-division-input-group .p-work-division-input-group__input {
  min-width: 20rem;
  height: 1.6rem;
}

.p-work-division-modal .p-work-division-modal-button-group {
  text-align: right;
}

.p-register {
  display: flex;
  justify-content: center;
}

.p-register .p-register-container {
  width: 30%;
  /** 送信フォーム */
}

@media screen and (max-width: 768px) {
  .p-register .p-register-container {
    min-width: 90%;
  }
}

.p-register .p-register-container .p-register-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 3rem 0 3rem 0;
}

.p-register .p-register-container .p-register-form {
  background: white;
  padding: 2rem;
}

.p-register .p-register-container .p-register-form .p-register-form__title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.p-register .p-register-container .p-register-form .p-register-form-input-group {
  margin-bottom: 1.5rem;
}

.p-register .p-register-container .p-register-form .p-register-form-input-group .p-register-form-input-group__label {
  font-size: 1rem;
}

.p-register .p-register-container .p-register-form .p-register-form-input-group .p-register-form-input-group__input,
.p-register .p-register-container .p-register-form .p-register-form-input-group .p-register-form-input-group__input--error {
  width: 100%;
  border-radius: 0.2rem;
  border: 1px solid #e1e5e7;
  height: 3rem;
  outline: 0;
}

.p-register .p-register-container .p-register-form .p-register-form-input-group .p-register-form-input-group__input:focus,
.p-register .p-register-container .p-register-form .p-register-form-input-group .p-register-form-input-group__input--error:focus {
  border: 1px solid #249f80;
}

.p-register .p-register-container .p-register-form .p-register-form-input-group .p-register-form-input-group__input--error {
  border: 1px solid #e9606d;
}

.p-register .p-register-container .p-register-form .p-register-form-input-group .p-register-form-input-group__error {
  font-size: 1rem;
}

.p-register .p-register-container .p-register-form .p-register-form-checkbox {
  text-align: center;
  margin-bottom: 1.5rem;
}

.p-register .p-register-container .p-register-form .p-register-form-checkbox .p-register-form-checkbox__label {
  font-size: 1rem;
}

.p-register .p-register-container .p-register-form .p-register-form-submit input[type=submit] {
  border: none;
}

.p-register .p-register-container .p-register-form .p-register-form-submit .c-button--green {
  width: 100%;
  height: 4rem;
  cursor: pointer;
}

.p-register .p-register-container .p-register-form .p-register-social-account .p-register-social-account__title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.p-register .p-register-container .p-register-form .p-register-social-account .p-register-social-account__button-group {
  text-align: center;
}

.p-register .p-register-container .p-register-form .p-register-social-account .p-register-social-account__button-group .c-button,
.p-register .p-register-container .p-register-form .p-register-social-account .p-register-social-account__button-group .c-button--blue,
.p-register .p-register-container .p-register-form .p-register-social-account .p-register-social-account__button-group .c-button--red,
.p-register .p-register-container .p-register-form .p-register-social-account .p-register-social-account__button-group .c-button--green {
  height: 3rem;
  box-sizing: border-box;
  width: 40%;
}

.p-register .p-register-container .p-register-form .p-register-login-link {
  text-align: center;
  font-size: 1rem;
}

.p-register .p-register-container .p-register-form .p-register-login-link a {
  color: #249f80;
}

.p-login {
  display: flex;
  justify-content: center;
}

.p-login .p-login-container {
  width: 30%;
  /** 送信フォーム */
}

@media screen and (max-width: 768px) {
  .p-login .p-login-container {
    min-width: 90%;
  }
}

.p-login .p-login-container .p-login-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 3rem 0 3rem 0;
}

.p-login .p-login-container .p-login-form {
  background: white;
  padding: 2rem;
}

.p-login .p-login-container .p-login-form .p-login-form__title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.p-login .p-login-container .p-login-form .p-login-form-input-group {
  margin-bottom: 1.5rem;
}

.p-login .p-login-container .p-login-form .p-login-form-input-group .p-login-form-input-group__label {
  font-size: 1rem;
}

.p-login .p-login-container .p-login-form .p-login-form-input-group .p-login-form-input-group__input,
.p-login .p-login-container .p-login-form .p-login-form-input-group .p-login-form-input-group__input--error {
  width: 100%;
  border-radius: 0.2rem;
  border: 1px solid #e1e5e7;
  height: 3rem;
  outline: 0;
}

.p-login .p-login-container .p-login-form .p-login-form-input-group .p-login-form-input-group__input:focus,
.p-login .p-login-container .p-login-form .p-login-form-input-group .p-login-form-input-group__input--error:focus {
  border: 1px solid #249f80;
}

.p-login .p-login-container .p-login-form .p-login-form-input-group .p-login-form-input-group__input--error {
  border: 1px solid #e9606d;
}

.p-login .p-login-container .p-login-form .p-login-form-input-group .p-login-form-input-group__error {
  font-size: 1rem;
}

.p-login .p-login-container .p-login-form .p-login-form-input-group .p-login-form-input-group__link {
  font-size: 1rem;
}

.p-login .p-login-container .p-login-form .p-login-form-input-group .p-login-form-input-group__link:hover {
  text-decoration: underline;
}

.p-login .p-login-container .p-login-form .p-login-form-checkbox {
  text-align: center;
  margin-bottom: 1.5rem;
}

.p-login .p-login-container .p-login-form .p-login-form-checkbox .p-login-form-checkbox__label {
  font-size: 1rem;
}

.p-login .p-login-container .p-login-form .p-login-form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-login .p-login-container .p-login-form .p-login-form-submit .p-login-form-submit__input {
  display: block;
  border: none;
  width: 50%;
  height: 4rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.p-login .p-login-container .p-login-form .p-login-form-submit .p-login-form-submit__link {
  display: block;
  font-size: 1rem;
}

